body {
    margin: 10px;
    padding: 0;
    background-color: #2c2c2c;
    
}

canvas {
    width: 1600px;
    height: 900px;
    display: flex;
}

@media screen and (max-width: 1600px) {
    canvas {
        width: 100%;
        height: 100%;
    }
    #gamecontainer {
        background-color: magenta;
        width: 100%;
        height: 56.25vw;
    }

  }

#gamebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

